body{
    background-color: rgb(40, 209, 212);
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    text-indent: 35px;
    
}
#gitdone{
    text-indent:225px;
    font-size: 11px;
}

#rightStuff{
    position: relative;
    right:35px;
    bottom: 85px;
    float: right;
    vertical-align: text-top;
}
#rightText{
    font-size: 57px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    border: 1px solid #000000;
    border-radius: 5%;
    padding: 5px;
    width: 450px;
}
#centerStuff {
    position: relative;
    right:40px;
    bottom: 65px;
    float: right;
    vertical-align: text-top;
}
#centerText {
    font-size: 35px;
    font-family:fantasy;
}
#gif {
    position: relative;
    left:53px;
    border: 1px solid #621298;
    width: 300px;
}
